body {
  background-color: #192109; /* HSLuv(105.4, 74.9, 11.2) */
  color: #576c2f; /* 105.4, 74.9, 42.8 */
  font-family: Tahoma, Verdana, Segoe, sans-serif;
}

a:link,
a:visited {
  color: #63692f; /* 91.9, 74.9, 42.8 */
}

a:active {
  color: #7e863e; /* 91.9, 74.9, 53.8 */
}

aside.auth-box {
  float: right;
  margin: 0 0 1rem 1rem;
}

aside.auth-box img.steam-avatar {
  height: 1.1em;
  width: auto;
  vertical-align: bottom;
}

aside.front-blurb {
  border-color: #63692f;
  border-radius: 10px;
  border-width: 4px;
  border-style: solid;
  padding: 0 1em;
  margin: 1em;
}

/* "Button:" #1d1f09 - 91.9, 74.9, 11.2 */

table {
  width: 100%;
}

footer {
  font-size: .6666em;
}

@media screen and (min-width: 900px) {
  body {
    width: 900px;
    margin: 0 auto;
  }
}
