<h2>All Games by Release</h2>

<nav class="table-fmt">Show: <a href="/games" title="Show all games">All</a> <a href="/games/mac" title="Show only games which are Mac compatible">Mac only</a> <a href="/games/cat" title="Show only games which are Catalina compatible">Catalina</a></nav>
<table>
	<tr>
		<th colspan="2">Game Title</th>
		<th>Release</th>
		<th>Mac?</th>
		<th>Catalina?</th>
	</tr>
	#foreach($game in $games)
		<tr>
			<td>
				<img src="https://cdn.cloudflare.steamstatic.com/steam/apps/$game.SteamId/capsule_184x69.jpg" width="92" height="35" alt="Game capsule banner">
			</td>
			<td>$game.Title</td>
			<td>$game.SteamReleaseDate</td>
			<td>#if ($game.Mac == "NO") No #elseif ($game.Mac == "YES") Yes #else ? #end</td>
			<td>#if ($game.SixtyFour == "NO") No #elseif ($game.SixtyFour == "YES") Yes #else ? #end</td>
		</tr>
	#end
</table>
<ul>
#foreach ($page in [1..$totalPages])
<li>#if ($page == $currentPage)$page#else<a href="/games/$page">$page</a>#end</li>
#end
</ul>
